
<section class="main-content">
  <div class="row">
    <div class="span9">

      <%= render 'form' %>

      <%= link_to 'Back', profiles_path %>
    </div>
      <div class="span3 col">
        <div class="block">
          <ul class="nav nav-list">
            <% if current_user.try(:admin?) %>
                <li class="nav-header">Admin</li>
                <li>
                  <%= link_to 'Admin Dashboard', '/admin/dashboard' %>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
</section>
