<<<<<<< HEAD

=======
<section class='header_text sub'>
  <%= image_tag 'images/pageBanner.png', class: 'pageBanner', alt: 'Products' %>

  <h4><span>User Profile</span></h4>
</section>
>>>>>>> 3b2aca57d1ff0de88236d44881cdb2f2a8a6ed52
<section class="main-content">
  <div class="row">
    <div class="span9">

      <%= render 'form' %>

      <%= link_to 'Back', profiles_path %>
    </div>
      <div class="span3 col">
        <div class="block">
          <ul class="nav nav-list">
            <% if current_user.try(:admin?) %>
                <li class="nav-header">Admin</li>
                <li>
                  <%= link_to 'Admin Dashboard', '/admin/dashboard' %>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
<<<<<<< HEAD
=======
  </div>
>>>>>>> 3b2aca57d1ff0de88236d44881cdb2f2a8a6ed52
</section>
