<<<<<<< HEAD
=======


>>>>>>> 3b2aca57d1ff0de88236d44881cdb2f2a8a6ed52
<%= render 'form' %>

<form action="/charge" method="POST">
  <script
  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
  data-image="/square-image.png"
  data-name="Demo Site"
  data-description="2 widgets (€20.00)"
  data-amount="2000">
  </script>
</form>


<%= link_to 'Back', orders_path, class: 'btn btn-small' %>


