<section class='header_text sub'>
  <%= image_tag 'images/pageBanner.png', class: 'pageBanner', alt: 'Products' %>

<<<<<<< HEAD
  <h4 class='title'><span class='text'>Delivery Services</span></h4>
</section>

=======
  <h4 class='title'><span class='text'>New Order</span></h4>
</section>
<br />
>>>>>>> 3b2aca57d1ff0de88236d44881cdb2f2a8a6ed52
<ul class="breadcrumb">
  <li><%= link_to 'Safe Shopping', :controller => '/site', :action => 'safe_shopping' %> /</li>
  <li><%= link_to 'Delivery Returns', :controller => '/site', :action => 'delivery_returns' %> /</li>
  <li><%= link_to 'Privacy Policy', :controller => '/site', :action => 'privacy_policy' %> /</li>
  <li class="active">Delivery Returns</li>
</ul>
<div class='hero-unit'>

  <h3>Delivery Returns</h3>


  <p><b>TURN AROUND TIME</b></p>
  <p>We endeavour to process your order within 24-48 hours. The picking & packaging process can take from 1-5 working days. Then your order will be dispatched. Orders should arrive 1-2 days following despatch from our warehouse for customers in the Republic of Ireland and Northern Ireland. Should any item not be available at the time of shipping -we will contact you to offer a similar alternative product upgrade/exchange or the item(s) will automatically follow on as soon as they become available at no additional delivery cost. If the item does not become available within an approx. 2 week period we will provide a full refund on that item on your account.</p>

  <p><b>HOW YOU CAN ENSURE A 'FIRST-TIME' DELIVERY SUCCESS</b></p>
  <p>Please ensure you include a contact phone no. If possible, please also provide an alternative phone no. In the event you are not available to receive your delivery, if the delivery company can contact you, they may be able to organise an alternative delivery.</p>

  <p><b>HOW WILL MY ORDER BE DELIVERED</b></p>
  <p>Most orders over 1kg are dispatched using one of our delivery companies. Orders less than 1kg are usually shipped using An Post.</p>

  <p><b>WHAT TIME OF THE DAY WILL MY ORDER BE DELIVERED</b></p>
  <p>We are unable to provide an estimated time of delivery for orders. The various delivery companies we work with will have multiple nationwide routes, and are unable to provide us with delivery times, as these can vary according to location, conditions and delivery workloads.</p>

  <p><b>DAMAGED GOODS</b></p>
  <p>If your parcel is visibly damaged, you can refuse to accept it. Inform the delivery company representitive that you are concerned the contents may be damaged. If agreed by the delivery company representitive, you may be able to open it and inspect the contents prior to returning it. If you are returning a parcel to us, please contact us at  info@artmaterialsco.com and let us know that you have refused to accept your order and have returned it to us via the delivery company. In the event you have taken delivery of your order and discover after opening it that there are damaged items - Firstly! Don't Panic! we will ensure all gets resolved for you - simply contact us at Coolheadzshop@gmail.com if possible within 48hrs. </p>

  <p><b>RETURNS</b></p>
  <p>We understand that making a purchase online can sometimes mean you receive something that you are not completely satisfied with, for whatever reason. Therefore, we encourage you to return it. Customers who wish to return a product - must do so within 14 days from the delivery date. Please ensure that you first obtain a Returns Authorization Number from us before returning any item. We cannot accept unauthorized returns. The responsiblity for safely and securely returning items is the customers. The cost incurred to return items is that of the customer.</p>

  <p>To obtain a Return Authorization Number please contact -Coolheadzshop@gmail.com</p>

  <p>Please note: We cannot process refunds until we have received the product back in perfect resaleable condition. If you are returning something back to us because you have discovered that it does not meet your needs, we do ask that you choose a safe method of shipment and ensure the product is properly packaged. This is an important step in ensuring that your refund can be processed effectively. In the event you are returning something that does not meet your needs, or you may have ordered the incorrect item, we do not refund the return delivery costs. If the goods are damaged or malfunction then we shall reimburse the return shipping costs. Any further questions can be directed to The Art Materials Company by email -Coolheadzshop@gmail.com</p>

  <p>Delivery charges are applied to most orders to cover the cost of freight and packaging. Our minimum charge is €2.95. If your order exceeds €99 it will be delivered FREE nationwide in the Republic of Ireland. For orders below €99 our standard delivery charges will be applied and are automatically calculated during the checkout process for customers prior to completing an order.</p>


  <strong>Please return items to:</strong><br>

  <p>Coolheadz<br>
    National Business Centre<br>
    Old Dublin Road, Balbriggan<br>
    Co Dublin<br>
    Ireland<br>
    Phone:  +353 1 123 1234</p>


</div>