<section class='header_text sub'>
  <%= image_tag 'images/pageBanner.png', class: 'pageBanner', alt: 'Products' %>

  <h4 class='title'><span class='text'>New Order</span></h4>

</section>
<br />
<ul class="breadcrumb">
  <li><%= link_to 'Safe Shopping', :controller => '/site', :action => 'safe_shopping' %> /</li>
  <li><%= link_to 'Delivery Returns', :controller => '/site', :action => 'delivery_returns' %> /</li>
  <li><%= link_to 'Privacy Policy', :controller => '/site', :action => 'privacy_policy' %> /</li>
  <li class="active">Privacy Policy</li>
</ul>
<div class='hero-unit'>

  <h3>Privacy Policy</h3>

  <p>We at Coolheadz very much appreciate the trust that you place in us, and we are very committed to respecting your privacy and the security of your personal information. We work very closely with our internet development partners to ensure the very highest levels of security are maintained.
    We always welcome your questions and feedback. For privacy-related issues, please contact us at eurovanvasshop@gmail.com </p>

  <p><b>Information That We Collect About You</b></p>
  <p>We can collect the following information (name, address, telephone number, and email address) when you: Place an order from our catalogue or on our Web site. When you place an order by phone. Return a product. Make enquires about our services. Request our latest catalogue. Create an account at www.Coolheadz.com. Subscribe to our Email Newsletter. Participate in a marketing survey, promotion or event At the Art Materials Company we carefully maintain the data that you provide us, along with a record of your purchases, in a secure database. We also gather information about how customers and visitors navigate through our Web site.</p>

  <p><b>What We Do With the Information</b></p>
  <p>At Coolheadz, one of our goals is to provide you with the best possible shopping experience and constantly seek ways to improve that experience? Collecting the above information enables us to better: Process you order swiftly and efficiently. Provide the services you request. Contact you about the status of an order. Send you catalogues or promotional offers we believe will be of interest to you. Send you the The Art Materials Company Email Newsletter, if requested. Identify your product and service preferences. Improve our merchandise selection and customer service.</p>

  <p><b>Security</b></p>
  <p>At Coolheadz it is our intent to do everything possible to protect against the loss, misuse or alteration of information that we collect from you. We work very closely with our web site development partners and online payment solutions partners to ensure the very latest security technologies, and processes for protection of our customer data are in place. Thus when you make a purchase, request a catalogue or create an account on our Web site, your transactional information is transmitted in a safe, encrypted format.</p>

  <p><b>Credit and Bank Card Details</b></p>
  <p>At Coolheadz we do not retain your credit or bank card details. We have partnered with a trusted online payments organisation to deliver that service to us. They in conjunction with our Web Site development partners have the experience and expertise to ensure the latest safe guards, both from a technology and process standpoint, are in place, thus enabling us to offer a safe and secure shopping environment. Therefore, every time you shop with us you will need to submit your credit or bank card details.</p>

  <p><b>Coolheadz do not disclose the information to third parties!</b></p>
  <p>At Coolheadz we do not make available your personal information to other third party companies. From time to time we will contact you with special offers we are running via our email newsletter, however you may unsubscribe to these using the link provided.</p>

  <p><b>Updating or Reviewing Your Information</b></p>
  <p>To update your customer information (name, address, telephone number and email address); you can select the My Account option on our web site.</p>

  <p><b>Questions or Comments?</b></p>
  <p>For questions, comments or assistance, we invite you to contact us.</p>
</div>