<section class='header_text sub'>
  <%= image_tag 'images/pageBanner.png', class: 'pageBanner', alt: 'Products' %>

  <h4><span>Thank you for your purchase</span></h4>
</section>

<section class="main-content">
  <div class="row">
    <div class="span9">
      <section class='header_text'>
        <p>
          Your order has been created.
          An email receipt containing information about your order will soon follow. Please keep it for your records.
        </p>
        <br/>

        <br/>
      </section>
    </div>
    <div class="span3 col">
      <div class="block">
        <ul class="nav nav-list">
          <li class="nav-header">SUB CATEGORIES</li>
          <li><a href="products.html">Sunglasses</a></li>
          <li class="active"><a href="products.html">Hats</a></li>
          <li><a href="products.html">Men</a></li>
          <li><a href="products.html">Women</a></li>
          <li><a href="products.html">Kids</a></li>
          <li><a href="products.html">Brands</a></li>
        </ul>
        <br/>
        <ul class="nav nav-list below">
          <li class="nav-header">MANUFACTURES</li>
          <li><a href="products.html">Prada</a></li>
          <li><a href="products.html">Oakley</a></li>
          <li><a href="products.html">Volcom</a></li>
          <li><a href="products.html">John Deere</a></li>
        </ul>
      </div>
    </div>

  </div>
  <div class='row feature_box'>
    <div class='span4'>
      <div class='service'>
        <div class='responsive'>
          <%= image_tag 'feature_img_2.png', alt:'feature pics' %>
          <h4>MODERN <strong>DESIGN</strong></h4>
          <p>
            We sell latest design and new products as soon as they release by manufactures.
          </p>
        </div>
      </div>
    </div>
    <div class='span4'>
      <div class='service'>
        <div class='customize'>
          <%= image_tag 'feature_img_1.png', alt:'feature pics' %>
          <h4>FREE <strong>SHIPPING</strong></h4>
          <p>
            We do next day delivery in same state area.
          </p>
        </div>
      </div>
    </div>
    <div class='span4'>
      <div class='service'>
        <div class='support'>
          <%= image_tag 'feature_img_3.png', alt:'feature pics' %>
          <h4>24/7 LIVE <strong>SUPPORT</strong></h4>
          <p>
            We provide a 24 hours 7 days a week customers supports.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>